.App {
  text-align: center;
}

.main-header {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 35px;
}

footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

footer a {
  color: rgb(37, 37, 37);
  text-decoration: none;
  transition: 350ms all ease-in-out;
}

footer a:hover {
  text-decoration: underline;
}
