.text-start {
  text-align: start;
}

.dictionary-main-div {
  background-color: #ffffff;
  padding: 50px;
  width: 60%;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dictionary-main-div h1 {
  font-size: 20px;
  text-align: start;
  padding-left: 30px;
}

.dictionary-main-div .search-bar {
  padding: 8px;
  border-radius: 8px;
  border: solid 0.5px #d3d3d3;
}

.results-content-div {
  background-color: #ffffff;
  text-align: start;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  padding: 15px 50px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.meanings-main-div {
  background-color: #ffffff;
  text-align: start;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  padding: 15px 50px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.definition-example-div {
  margin-top: 15px;
  line-height: 5px;
}

.example {
  color: #70757a;
}

.synonyms-main-div {
  margin: 0;
  padding: 0;
}

.synonyms-main-div li {
  cursor: pointer;
  border-radius: 8px;
  display: inline-block;
  list-style: none;
  padding: 7px 10px;
  margin-right: 10px;
  background-color: #ededed;
  color: rgb(75, 75, 75);
  transition: 350ms ease-in-out;
}

.synonyms-main-div li:hover {
  transform: scale(1.1);
}

.images-main-div {
  margin-top: 50px;
  width: 60%;
  margin: auto;
}

.images-main-div img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 350ms ease-in-out;
}

.images-main-div img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 900px) {
  .dictionary-main-div {
    width: 90%;
  }

  .dictionary-main-div h1 {
    font-size: 18px;
  }

  .results-content-div {
    width: 90%;
  }

  .meanings-main-div {
    width: 90%;
  }

  .definition-example-div {
    line-height: normal;
  }

  .images-main-div {
    width: 90%;
  }

  .img-div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .img {
    margin: auto;
    width: 100%;
  }
}
